<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>World News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-searchbar #searchInput name="query" [(ngModel)]="query"></ion-searchbar>
    <ion-item *ngFor="let newsArticle of results | filter : query : 'reddit'" (click)="openUrl(newsArticle.data.url)">
      <h2 class="noWhiteSpace">{{ newsArticle.data.title }}</h2>
      <span (click)="openUrl('http://www.reddit.com' + newsArticle.data.permalink);$event.stopPropagation();">
        <ion-icon name="arrow-up"></ion-icon>
        <span class="comments">{{newsArticle.data.score | number:0}}</span>
        <ion-icon name="text"></ion-icon>
        <span class="comments">{{newsArticle.data.num_comments | number:0}}</span>
        <ion-icon name="star" *ngIf="newsArticle.data.gilded > 0"></ion-icon>
        <span class="comments" *ngIf="newsArticle.data.gilded > 0">x{{newsArticle.data.gilded}}</span>
      </span>
    </ion-item>  
  </ion-list>
</ion-content>
